annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
click==8.3.1
cuda-toolkit==12.8.0
fastapi==0.123.8
h11==0.16.0
httptools==0.7.1
idna==3.11
nvidia-cublas-cu12==12.8.3.14
nvidia-cuda-cccl-cu12==12.8.55
nvidia-cuda-cupti-cu12==12.8.57
nvidia-cuda-cuxxfilt-cu12==12.8.55
nvidia-cuda-nvcc-cu12==12.8.61
nvidia-cuda-nvrtc-cu12==12.8.61
nvidia-cuda-opencl-cu12==12.8.55
nvidia-cuda-profiler-api-cu12==12.8.55
nvidia-cuda-runtime-cu12==12.8.57
nvidia-cuda-sanitizer-api-cu12==12.8.55
nvidia-cudnn-cu12==9.7.0.66
nvidia-cufft-cu12==11.3.3.41
nvidia-cufile-cu12==1.13.0.11
nvidia-curand-cu12==10.3.9.55
nvidia-cusolver-cu12==11.7.2.55
nvidia-cusparse-cu12==12.5.7.53
nvidia-npp-cu12==12.3.3.65
nvidia-nvfatbin-cu12==12.8.55
nvidia-nvjitlink-cu12==12.8.61
nvidia-nvjpeg-cu12==12.3.5.57
nvidia-nvml-dev-cu12==12.8.55
nvidia-nvtx-cu12==12.8.55
pydantic==2.12.5
pydantic_core==2.41.5
python-dotenv==1.2.1
PyYAML==6.0.3
starlette==0.50.0
tb-nightly==2.20.0a20250717
tensorboard-data-server==0.7.2
termcolor==3.2.0
tf_nightly==2.21.0.dev20251105
threadpoolctl==3.6.0
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
uvicorn==0.38.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==15.0.1
